{{# if products}}
    <div class="row">
        <div class="col-sm-6 col-md-6 offset-md-3 offset-sm-3">
            <ul class="list-group">
                {{# each products}}
                    <span class="badge float-right badge-success">{{this.qty}}</span>
                     <li class="list-group-item">
                        <strong>{{ this.title }}</strong>
                        <span class="badge badge-info">$ {{this.price}}</span>
                        <div class="btn-group float-right">
                            <button class="btn btn-warning btn-sm dropdown-toggle" data-toggle="dropdown" type="button">
                                Action <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="">Reduce by 1</a></li>
                                <li><a href="">Remove All</a></li>
                            </ul>
                        </div>
                    </li>
                {{/each}}
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 col-md-6 offset-md-3 offset-sm-3">
            <strong>Total : {{ totalPrice }}</strong>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-6 col-md-6 offset-md-3 offset-sm-3">
            <a href="/checkout" class="btn btn-success">Checkout</a>
        </div>
    </div>

{{else}}
    <div class="row">
        <div class="col-sm-6 col-md-6 offset-md-3 offset-sm-3">
            <h2>No Items in Cart</h2>
        </div>
    </div>
{{/if}}